<!DOCTYPE html>

<html lang = "en" ng-app="timeclock">
<head>
   <meta charset = "utf-8" />
   <link rel="stylesheet" type="text/css" href="main.css"></link>  
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
   <title>Boss Arena Manager</title>
</head>
<body>     
   <!-- <header>
      <ul class="nav-list">
         <a id="nav-link" class="nav-active" 
            href="index.html">
            <li class="nav-link">home</li>
         </a>
      </ul>
   </header>  -->
   <div>         
      <p class="head roundedBorder" align="center">Boss Arena Manager<p>
   </div>
   <div>
    <img src="BossArenaB.png" width="200" />
<script type="text/javascript">
  $scope.hoursWorked = [0,1,2,3,4,5,6,7,8];
  $scope.minsWorked = [0,15,30,45];
</script>

      <div>
         Log work done: <br />
         Student: 
         <input type="text" name ="studentName"> <br />
         Job: 
         <input type="text" name ="jobName"> <br />
         What was accomplished: 
         <input type="textarea" name ="task"> <br />
         Enter Time Worked
         <select name="hours">
            <option ng-repeat="hour in hoursWorked" value="{{hour}}">{{hour}}</option>
         </select> Hours
         <select name="minutes">
            <option ng-repeat="min in minsWorked" value="{{min}}">{{min}}</option>
         </select> Minutes
      </div>
      
      
    <img src="BossArenaG.png" width="200" align="right"/>
   </div>
</body>
</html>