<!DOCTYPE html>

<html lang = "en" ng-app="timeclock">
<head>
   <meta charset = "utf-8" />
   <link rel="stylesheet" type="text/css" href="main.css"></link>  
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
   <script src="addTime.js"></script>
   <title>Boss Arena Manager</title>
</head>
<body>     
<div ng-controller="AddTimeCtrl">
   <!-- <header>
      <ul class="nav-list">
         <a id="nav-link" class="nav-active" 
            href="index.html">
            <li class="nav-link">home</li>
         </a>
      </ul>
   </header>  -->
   <div>         
      <p class="head roundedBorder" align="center">Boss Arena Manager</p>
   </div>
   <div>
    <img src="BossArenaB.png" width="200" />


      <div>
      <form name="addInfo">
         Log work done: <br />
         Student: 
         <input type="text" ng-model ="studentName"> <br />
         Job: 
         <input type="text" ng-model ="jobName"> <br />
         What was accomplished: 
         <input type="textarea" ng-model ="task"> <br />
         Enter Time Worked
         <select name="hours" ng-model="hour">
            <option  value="0" selected="selected">0</option>
            <option ng-repeat="hour in hoursWorked" value="{{hour}}">{{hour}}</option>
         </select> Hours
         <select name="minutes" ng-model="min">
            <option  value="0" selected="selected">0</option>
            <option ng-repeat="min in minsWorked" value="{{min}}">{{min}}</option>
         </select> Minutes
         <button type="submit" ng-click="addTime()">Submit</button>
         </form>
      </div>

      <h1>{{status}}</h1>
      
      
    <img src="BossArenaG.png" width="200" align="right"/>
   </div>
   </div>
</body>
</html>