<!DOCTYPE html>

<html lang = "en" ng-app="timeclock">
<head>
   <meta charset = "utf-8" />
   <link rel="stylesheet" type="text/css" href="main.css"></link>  
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
   <script src="timeclock.js"></script>
   <title>Boss Arena Manager</title>
</head>
<body>   
<div ng-controller="TimeclockCtrl">
   <div>         
      <p class="head roundedBorder" align="center">Boss Arena Manager<p>
   </div>
   <div>
    <img src="BossArenaB.png" width="200" />
      <div>
         Search by :
         <select name="type" ng-model="type">
            <option value = "JOB" selected="selected">Job</option>
            <option value = "STUDENT">Student</option>
         </select>
         <button type="submit" ng-click="timeclock()">Submit</button> 
         <br />
         Which one would you like to know about?
         {{data}}
         <select name="name">
      </div>
        
      </select>
      Total Hours Worked: 
    <img src="BossArenaG.png" width="200" align="right"/>
   </div>
   </div>
</body>
</html>